* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #c7cdd3;
}

#playerName {
    margin-bottom: 2rem;
    font-size: 20px;
}

#name {
    border-style: none;
    border: #05c3ff solid 2px;
    border-radius: 5px;
    padding: 5px;
}

#start {
    padding: 5px;
    font-size: 15px;
    font-family: 'Righteous', sans-serif;
    background-color: #05c3ff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.card {
    width: 15vh;
    height: 15vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_back, .card_front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.card_front {
    transform: rotateY(180deg);
    background-color: #101c2c;
}

.card_back {
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 30px;
}

#gameOver {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard {
    max-width: 700px;
    display: none;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#ranking {
    margin-top: 50px;
    padding: 10px;
    border: yellow solid 5px;
    border-radius: 10px;
    font-size: 40px;
    overflow-y: scroll;
}

#title {
    font-size: 80px;
    text-align: center;
}

th {
    padding: 20px;
    border: yellow solid 2px;
    border-bottom: none;
}

thead td, tbody td {
    text-align: center;
    border: yellow solid 2px;
}

#clean {
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}